.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}



.about-text {
    text-align: center;
    line-height: 1.7em;
}

p {
    line-height: 1.7rem;
    color: darkgray;
    font-size: 18px;
}