.footer-component {
    position:fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    height: auto;
    //background-color: var(--white);
    box-shadow: 0px -3px 7px var(--border);
    z-index: 10;

    .header-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        //max-width: 1250px;
        padding: 1rem;

        .brand-container {
            display: inline-flex;
            align-items: center;

            a {
                color: var(--cmich-maroon);

                &:focus {
                    color: rgba($color: var(--cmich-maroon), $alpha: 0.95)
                }
            }

            .footer-madeby {
                justify-content: right;
                justify-items: right;
                position: fixed;
                bottom: 1rem;
                right: 1rem;
            }

        }
    }
}